<html>
    <head>
          <link rel="stylesheet" href="static/styles.css">
          <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    </head>
    <body>
        
        <div>
            <h2>user_table</h2>
            <p>{{user_info | safe}}</p>
        </div>
        <div>
            <h2>pay</h2>
            {{pay | safe}}
        </div>
        <div>
            <h2>paid</h2>
            <p>{{payed | safe}}</p>
        </div>
        <div>
            <h2>owes</h2>
            <p>{{owed | safe}}</p>
        </div>
        <div>
            <h2>friends</h2>
            <p>{{friends}}</p>
        </div>
        <div>
            <form action="/data" method="POST">
                person to pay ID: <input type="text" name="pid">
                <br/>
                from person ID: <input type="text" name="fid">
                <br/>
                amount: <input type="text" name="amount">
                <br/>
                <input type="submit">
            </form>
        </div>
          </div>
        <script type="text/javascript" src="/static/script.js"></script>
    </body>
</html>