<html>
    <head>
          <link rel="stylesheet" href="static/styles.css">
          <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    </head>
    <body>
        
        <div>
            <h2>user_table</h2>
            <p>{{user_info}}</p>
        </div>
        <div>
            <h2>pay</h2>
            <p>{{pay}}</p>
        </div>
        <div>
            <h2>paid</h2>
            <p>{{payed}}</p>
        </div>
        <div>
            <h2>friends</h2>
            <p>{{friends}}</p>
        </div>
          </div>
        <script type="text/javascript" src="/static/script.js"></script>
    </body>
</html>